/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';
@import '@fortawesome/fontawesome-free/css/fontawesome';
@import '@fortawesome/fontawesome-free/css/brands';
@import '@fortawesome/fontawesome-free/css/solid';
@import "gridjs/dist/theme/mermaid.min.css";
@import 'bulma-list/sass/bulma-list';

:root {
	--font-serif: 'Inter', sans-serif;
	--font-12: 1.2rem;
	--font-16: 1.6rem;
	--font-18: 1.8rem;
	--font-24: 2.4rem;
	--font-32: 3.2rem;
	--font-40: 4rem;

	--spacing-4: 0.4rem;
	--spacing-8: 0.5rem;
	--spacing-16: 1.6rem;
	--spacing-20: 2rem;
	--spacing-24: 2.4rem;
	--spacing-32: 3.2rem;

	--color-brand: hsl(0 0% 98%);
	--color-text-primary: hsl(0 0% 98%);
	--color-text-muted: hsl(210 34% 80%);
	--color-bg-primary: #1a1f28;
	--color-bg-secondary: #323c4e;
	--color-btn-primary-active: var(--color-brand);
	--color-btn-primary-active-hover: hsl(204 88% 60%);
	--color-btn-primary-inactive: hsl(205 70% 33%);
	--color-btn-secondary: hsl(192 19% 95%);
	--color-border-primary: hsl(0, 0%, 34%);
	--color-link-hover: hsl(209 22% 19%);
	--color-placeholder: hsl(210 34% 80%);
	--color-info: hsl(204, 86%, 53%);
	--hover: rgba(0, 0, 0, 0.1);

	--radius-base: 1rem;

	--toastBorderRadius: 0.5rem;
	--toastWidth: 10rem;
}

h1 {
	font-size: var(--font-32);
	line-height: var(--font-32);
	font-weight: 600;
}
h2 {
	font-size: var(--font-24);
	font-weight: 500;
}
h3 {
	font-size: var(--font-16);
}
body {
	font-size: var(--font-12);
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
	position: relative;
}

body::after {
	content: '';
	top: 0;
	background-image: url('/images/background.jpg');
	position: absolute;
	object-fit: cover;
	background-repeat: round;
	width: 100%;
	height: 100%;
	left: 0;
	filter: opacity(0.15) blur(10px);
	z-index: 0;
	pointer-events: none;
}

html {
	overflow-y: scroll;
	background-color: var(--color-bg-primary);
}

input {
	background-color: var(--color-bg-secondary) !important;
	color: white !important;
}

label {
	color: #fff !important;
}

input {
	color-scheme: dark;
}

.radio:hover,
.checkbox:hover {
	color: #fff;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
	background-color: var(--color-bg-secondary) !important;
	border-color: hsl(0deg, 0%, 21%) !important;
}

 a:hover  {
	color: #3d7de5a6 !important;
}

li a.is-active{
	color: white !important;
}
li a:hover:not(.is-active){
	color: black !important;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-brand);
	border-radius: var(--radius-base);
}

p strong {
	color: #fff;
	font-size: var(--font-18);
}

th.gridjs-th,.gridjs-tbody,td.gridjs-td, .gridjs-loading-bar{
	background-color: transparent;
	color: white;
}
.gridjs-loading-bar{
	display: none;
}


.gridjs-wrapper{
	box-shadow: none;
	overflow-y: scroll;
}

table.gridjs-table{
	width: 100%;
}
th.gridjs-th-sort:hover,
th.gridjs-th-sort:focus,
.list.has-hoverable-list-items .list-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.gridjs-container{
	padding: 0;
}

th.gridjs-th{
	border: unset !important;
}
.gridjs-th-content{
	text-transform: capitalize;

}

.gridjs tr:hover td{
	background-color: var(--hover);
	cursor: pointer;
}

.gridjs td{
	text-overflow: ellipsis;
    overflow: hidden;
	border: 1px solid #e5e7eb1f;
}
.list-item:not(:last-child):not(.box) {
    border-bottom: 1px solid #e5e7eb1f;
}

.list-item:first-child{
	border-top-left-radius: var(--radius-base);
}

.list-item:last-child{
	border-bottom-left-radius: var(--radius-base);
}
.list {
	color: #fff;
	width: 100%;
}
.list-item {
	cursor: pointer;
}
.list-item.is-active {
	background-color: var(--hover);
}

.list-item-title {
	color: #fff;
}

.show_header th {
	background-color: rgb(48 51 58) !important;
}

.gridjs th {
	transition: background-color 200ms;
}

.gridjs-wrapper {
	border-radius: unset !important;
}

.show_header {
	position: relative;
}

.show_header::before, .show_header::after {
	background-color: rgb(48 51 58) !important;
	transition: background-color 200ms;
}

.grid_content::after {
	content: '';
	width: 100%;
	left: 0;
	top: -12px;
	position: absolute;
	border-top-left-radius: var(--radius-base);
	border-top-right-radius: var(--radius-base);
	height: 12px;
	transition: background-color 200ms;
	background-color: transparent;
}
.grid_content::before {
	content: '';
	width: 4px;
	right: 0;
	top: 0px;
	position: absolute;
	border-top-left-radius: var(--radius-base);
	border-top-right-radius: var(--radius-base);
	height: 57px;
	transition: background-color 200ms;
	background-color: transparent;
}

.grid_content {
	max-height: 100%;
	min-height: 100%;
	position: relative;
}
	
.tile:not(.is-ancestor) {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: var(--radius-base);
	box-shadow: 0px 2px 16px rgb(10 10 10 / 30%);
}
.grid_content article, .gridjs-container, .gridjs-wrapper {
	height: 100% !important;
}
tbody tr:first-child td {
	border-top: unset !important;
}